
%font-primary { 
    font-family: Shrikhand, "sans-serif";
}

%font-secondary {
    font-family: Roboto, "cursive";
}

%paddingblock {
    padding: 1rem 1.25rem;
}

@mixin blocktuto {
    box-shadow: 3px 3px 15px hsl(0, 0%, 75%);
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 1.5rem 1.75rem;
    border-radius: 1.25rem;
    font-weight: bold;
    background-color: $color-background-repeat-block;
}

@mixin blocktutopurple {
    box-shadow: 3px 3px 15px hsl(0, 0%, 75%);
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 1.5rem 1.75rem;
    border-radius: 1.25rem;
    font-weight: bold;
    background-color: lighten($color-primary, 35%);
}

@mixin icontuto {
    margin-right: 20px;
    color: #666666;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-repeat-block: hsl(0, 0%, 93%);
$color-background-footer: #333435;

@mixin button {
    position: relative;
    margin: auto;
    box-shadow: 2px 2px 15px hsl(0, 0%, 65%);
    margin-bottom: 30px;
    @extend %paddingblock;
    border-radius: 2rem;
    background-image: linear-gradient($color-secondary, $color-primary);
    width: max-content;
    color: white;
}

@mixin input {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
}