/*passage de la section restaurants en grid de 2 colonnes*/
@media only screen and (min-width: 750px) {
    .restaurants {
        &_title {
            grid-area: rt;
        }
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
        "rt rt"
        "rc1 rc2"
        "rc3 rc4";
        column-gap: 1.25rem;
    }

    .rc1 {
        grid-area: rc1;
        width: 100%;
        margin: 0;
        justify-self: end;
    }
    .rc2 {
        grid-area: rc2;
        width: 100%;
        margin: 0;
    }
    .rc3 {
        grid-area: rc3;
        width: 100%;
        margin: 0;
        justify-self: end;
    }
    .rc4 {
        grid-area: rc4;
        width: 100%;
        margin: 0;
    }
}

/*passage de la section functioning en grid de 3 colonnes*/
@media only screen and (min-width: 1001px) {
    .functioning_tuto {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "title title title"
        "block1 block2 block3";
        column-gap: 1.25rem;
    }    
    .functioning_block1 {
        grid-area: block1;
    }
    .functioning_block2 {
        grid-area: block2;
    }
    .functioning_block3 {
        grid-area: block3;
    }
}

/*passage de la section menu en grid de 3 colonnes*/
@media only screen and (min-width: 1180px) {
    .menu {
        display: grid;
        grid-template-areas:
        "mh mh mh"
        "mm1 mm2 mm3"
        "order_btn order_btn order_btn";
        column-gap: 40px;
    }
    .mh {
        grid-area: mh;
    }
    .mm1 {
        grid-area: mm1;
    }
    .mm2 {
        grid-area: mm2;
    }
    .mm3 {
        grid-area: mm3;
    }
    .order_btn {
        grid-area: order_btn;
    }
}

/*une touche visuelle pour la section restaurants sur grand ecran*/
@media only screen and (min-width: 1470px) {
    .restaurants {
        border-radius: 2rem;
    }
}