.restaurants_cards_picture--modifier {
    z-index: -1;
    border-radius: 0;
    height: 250px;
}

.menu {
    position: relative;
    z-index: 1;
    margin-top: -60px;
    @extend %paddingblock;
    background-color: #F7F7F7;
    border-radius: 2rem 2rem 0 0;
    &_header {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        &_icons{
            position: relative;
            height: 24.5px;
            width: 24.5px;
            &_heart {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                height: 23px;
                font-size: 23px;
                color: #3f3f3f;   
            }
            &_heartliked {
                display: block;
                color: transparent;
                position: absolute;
                font-size: 10px;
                right: 0.45rem;
                bottom: -.1rem;
                transition: all 0.5s;
                &:hover, &:active {
                    transform: scale(2.45);
                    background: -webkit-linear-gradient($color-primary, $color-secondary);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;                       
                }
            }    
        }    
    }
    &_title {
        font-weight: 400;
        font-size: 28px;
        margin: 0;
        margin-bottom: 10px;
    }
    &_meal {
        &_title {
            position: relative;
            text-transform: uppercase;
            height: 26px;
            font-weight: 400;
            color: #3f3f3f;
            font-size: 16px;
            &::after {
                content: "";
                width: 39px;
                height: 3px;
                background-color: $color-tertiary;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &_lists {
            display: flex;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            background-color: white;
            margin: 20px 0 20px 0;
            border-radius: 1rem;
            box-shadow: 3px 3px 15px hsl(0, 0%, 75%);
            @extend %paddingblock;
            animation: spawnlists 0.75s both cubic-bezier(.58,1.5,.3,.87);
            transform: scale(0);
            &:hover &_check {
                margin-right: -20px;                       
            }
            &:hover &_check--modifier {
                transform: rotateZ(0);
            }
            &_block1 {
                flex: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &--title {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin: 0;
                    margin-bottom: 5px;    
                }
                &--accompaniment {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: #3f3f3f;
                    font-size: 15px;
                }
            }                               
            &_price {
                font-weight: bold;
                color: #3f3f3f;
                display: flex;
                align-self: flex-end;
                font-size: 15px;
                padding-left: 10px;
            }
            &_check {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: $color-tertiary;
                color: white;
                transform: translateX(0);
                transition-duration: 0.75s;
                margin: -24.5px -99px -24.5px 20px;
                height: 79px;
                width: 79px;
                border-radius: 0 1rem 1rem 0;
                &--modifier {
                    font-size: 30px;
                    transform: rotateZ(180deg);
                    transition-duration: 0.75s;
                }
            }
        }    
    }
}

@for $i from 0 to 10 {
    .spawndelay--#{$i} {
      animation-delay: #{$i/10}s;
    }
  }

.order_btn {    
    @include button;
    width: 150px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    &:hover {
        background-image: linear-gradient(hsl(317, 100%, 76%), hsl(267, 66%, 62%)) ;
        box-shadow: 2px 2px 15px hsl(0, 0%, 50%);
    }
}