.header {
    display: flex;
    @extend %paddingblock;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 30%);
    position: relative;
    height: 30px;
    &_logo {
        margin: auto;
        text-align: center;
        font-size: 28px;
        font-weight: 400;
    }
}

.footer {
    background-color: $color-background-footer;
    @extend %paddingblock;
    color: white;
    margin: 0;
    &_title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: lighter;
    }
    &_list {
        list-style: none;
        padding: 0;
        margin: 0;
        &_utensils {
            margin-right: 10px;
            font-size: 13px;
        }
        &_hands {
            margin-right: 8px;
            font-size: 10px;
        }
        &_link {
            @include input;
            color: white;
            &:hover {
                text-decoration: underline;
            }    
        }
    }
}