
.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %paddingblock;
    background-color: $color-background-repeat-block;
    &_block {
        display: flex;
        align-items: center;
        height: 20px;
        margin: auto;
        font-weight: bold;
        font-size: 10px;
        color: #3f3f3f;
    }
}

.mapmaker {
    margin-right: 15px;
    font-size: 15px;
}

.explore-restaurant {
    @extend %paddingblock;
    text-align: center;
    background-color: hsl(0, 0%, 97%);
    &_blocktext {
        & span {
            color: #666666;
            font-size: 18px;
        }
        margin-bottom: 30px;    
    }
    &_btn {
        @include button;
        &:hover {
            background-image: linear-gradient(hsl(317, 100%, 76%), hsl(267, 66%, 62%)) ;
            box-shadow: 2px 2px 15px hsl(0, 0%, 35%);
        }
    }
}

.functioning {
    @extend %paddingblock;
    max-width: 1430px;
    margin: auto;
    &_tuto {
        list-style: none;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        &_iconphone {
            @include icontuto;
            font-size: 20px;
        }
        &_iconlist {
            @include icontuto;
            font-size: 15px;
        }
        &_purpleicon {
            color: $color-primary;
            margin-right: 20px;
            font-size: 14px;
        }        
    }
    &_block1 {
        position: relative;
        @include blocktuto;
        &_number { 
            background: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -0.8rem;
        } 
    }
    &_block2 {
        @include blocktuto;
        position: relative;
        &_number { 
            background: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -0.8rem;
        }
    }
    &_block3 {
        @include blocktutopurple;
        position: relative;
        &_number { 
            background: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -0.8rem;
        }
    }
}

.restaurants {
    background-color: $color-background-repeat-block;
    @extend %paddingblock;
    max-width: 1430px;
    margin: auto;
    &_cards {
        position: relative;
        background-color: white;
        border-radius: 1rem;
        box-sizing: border-box;
        margin-bottom: 1.25rem;
        box-shadow: 3px 3px 15px hsl(0, 0%, 75%);
        &_input {
            @include input;
        }
        &_figure {
            position: relative;
            margin: 0;
        }
        &_picture {
            width: 100%;
            height: 175px;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
        &_new {
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            padding: 0.5rem 0.75rem;
            border-radius: .2rem;
            position: absolute;
            font-size: 14px;
            font-weight: bold;
            top: 1rem;
            right: .75rem;
        }
        &_figcaption {
            position: relative;
            padding: 1rem;
            &_title {
                margin: 0;
            }
            &_heart {
                font-size: 23px;
                position: absolute;
                right: 1.3rem;
                bottom: 1.75rem;
                color: #666666;
                &:hover {
                    display: none;
                }
            }
            &_heartliked {
                visibility: hidden;
                font-size: 23px;
                position: absolute;
                right: 1.3rem;
                bottom: 1.75rem;
                &:hover {
                    visibility: initial;
                }
            }
        }        
    }
}