body {
    @extend %font-secondary;
}

.header_logo, .footer_title {
    @extend %font-primary;
}

.container {
    margin: 0;
    display: block;
}

header, footer {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.functioning_block1_number, .functioning_block2_number, .functioning_block3_number {
    font-weight: initial;
}

footer li {
    margin-bottom: 10px;
}